<div id="inicio">
    <!-- Página de Inicio -->
    <section class="bienvenida">
        <div>
            <h1>Bienvenido a Usuarios-Carritos App</h1>
            <p>Experiencia de visualización de usuarios registrados.</p>
        </div>
        <img src="assets/users.png" />
    </section>

    <!-- Características -->
    <section class="caracteristicas">
        <h2>Características</h2>
        <ul>
            <li><strong>Vista de Usuarios:</strong> Visualiza tus usuarios registrados de manera sencilla.</li><br>
            <strong>Próximamente:</strong>
            <li>Gestión de Carritos: crear, editar y eliminar.</li>
            <li>Gestión de Usuarios: crear, editar y eliminar.</li>
        </ul>
    </section>

    <!-- Tecnologías Utilizadas -->
    <!-- 
    <section class="tecnologias">
        <h2>Tecnologías Utilizadas</h2>
        <h3>Front-End</h3>
        <ul>
            <li><strong>Angular:</strong> La interfaz fue construída utilizando el framework Angular, que permite crear
                aplicaciones web interactivas y dinámicas.</li>
            <li><strong>Bootstrap:</strong> Librería de diseño Bootstrap para garantizar una apariencia moderna y
                responsive en toda la plataforma.</li>
        </ul>
        <h3>Back-End</h3>
        <ul>
            <li><strong>Spring Boot:</strong> Framework de desarrollo de aplicaciones Java que proporciona una base
                sólida para la API REST.</li>
            <li><strong>H2 Database:</strong> Base de datos en memoria que facilita el desarrollo y las pruebas.</li>
        </ul>
        <h3>Control de Versiones</h3>
        <ul>
            <li><strong>Git:</strong> Para gestionar y rastrear los cambios en el código de forma eficiente.</li>
        </ul>
        <h3>Pruebas Unitarias</h3>
        <ul>
            <li><strong>JUnit y Mockito:</strong> Para garantizar la calidad del código.</li>
        </ul>
    </section>
    -->
</div>