@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.contenedor {
    color: black;
    margin: 3%;
    font-family: 'Comfortaa', sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 3%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.izquierda {
    flex: 1;
    box-sizing: border-box;
}

.derecha {
    width: 35%;
    box-sizing: border-box;
}

img {
    width: 100%;
}