<div class="contenedor">
  <div class="izquierda">
    <h6>Autora del proyecto:</h6>
    <h1>Nicole Opazo Aranda</h1><br>
    <h4>Desarrolladora Full Stack</h4>
    <p>Habilidades front & back end, manejo de bases de datos relacionales, pruebas unitarias y herramientas de
      versionamiento de código.</p><br>
    <li>⚔ Metódica</li>
    <li>⚔ Alta capacidad de análisis</li>
    <li>⚔ Enfocada en el trabajo en equipo</li>
    <li>⚔ Adaptable</li>
    <li>⚔ Creativa</li>
  </div>
  <div class="derecha">
    <img src="/assets/about.jpg">
  </div>
</div>