@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

#usuarios {
    color: black;
    margin: 3%;
    font-family: 'Comfortaa', sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.256);
    padding: 3%;
    background: white;
    border-radius: 30px;
}

#usuarios .encabezado {
    background-color: rgb(51,137,158);
    border: none;
    color: white;
    font-weight: 500;
}


#usuarios h2 {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

#usuarios td {
    background-color: rgb(225, 225, 225);
    border: none;
}